/.env
/.env.local
/.env.local.php
/.env.*.local
/compose.override.yaml
/compose-override.yml

/config/secrets/prod/prod.decrypt.private.php
/config/jwt/*.pem
/node_modules/
/public/build/
/public/bundles/
/var/
/vendor/

/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml

/npm-debug.log
/yarn-error.log

/.php-cs-fixer.php
/.php-cs-fixer.cache

/phpstan.neon
